<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Nova Linha</title>
</head>
<body>
    <h1>Nova Linha</h1>
    <form action="/linhas/nova" method="post">
        <div>
            <label for='origem'>Origem</label>
            <input type='text' name='origem' id='origem'>
        </div>

        <div>
            <label for='destino'>Destino</label>
            <input type='text' name='destino' id='destino'>
        </div>
        
        <div>
            <label for='tarifa'>Tarifa</label>
            <input type='text' name='tarifa' id='tarifa'>
        </div>

        <div>
            <label for='horarioSaida'>Horario de Saída</label>
            <input type='text' name='horarioSaida' id='horarioSaida'>
        </div>

        <button type="submit">Salvar</button>
    </form>
    
</body>
</html>