<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Novo Usuário</title>
</head>
<body>
    <h1>Cadastro Usuário</h1>
    <form action="/usuarios/editar" method="post">
        <div>
            <label for="nome">Nome: </label>
            <input value="<%=usuario.nome%>" type="text" name="nome" id="nome">
        </div>
        <div>
            <label for="email">Email: </label>
            <input value="<%=usuario.email%>" type="text" name="email" id="email">
        </div>
        <div>
            <label for="senha">Senha: </label>
            <input value="<%=usuario.senha%>" type="password" name="senha" id="senha">
        </div>
        </div>
        <input type="hidden" name="id" value="<%=usuario.id%>">
        <button type="submit">Cadastrar</button>
    
    </form>
</body>
</html>